APP_NAME=NIRVA API
ENVIRONMENT=development
MONGODB_URL=mongodb://localhost:27017
DATABASE_NAME=nirva
JWT_SECRET_KEY=change-this-local-secret
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
FRONTEND_ORIGIN=http://localhost:5173
SPOTIFY_CLIENT_ID=80cd58c64ae14a7c85496c5a2b8ed023
SPOTIFY_CLIENT_SECRET=4e335179161e402bbff330603b0a7a40
SPOTIFY_MARKET=IN
